body {
  background-color: rgb(21, 21, 37);
  color: white;
  margin: 0;
  padding: 0;
}

img:hover {
  opacity: 0.6;

  box-shadow: 3px 1px 5px white;
}

.video-content {
  height: 40vh;
  width: 100%;
  display: flex;

  flex-direction: column;
}
.btns {
  height: 10vh;
  display: flex;

  justify-content: space-between;

  margin: 1vh;
}
.recent {
  margin-top: 1vh;
  margin-left: 3vh;
  font-size: 18px;
  color: rgb(253, 253, 252);
}

.view-all {
  margin-top: 1vh;
  margin-right: 3vh;
  cursor: pointer;
}
.view-all:hover {
  color: rgb(10, 243, 22);
}

.details {
  margin-top: 1.8%;
  position: absolute;
  top: 10vh;
  margin-left: 2%;
  width: 30%;
}
.details h1 {
  font-size: 40px;
}
.span span {
  margin: 2%;
  color: white;
}
.title {
  width: 100%;
  height: 18vh;
  text-align: center;
  position: absolute;
  top: 40vh;
}
.title h1 {
  color: rgb(191, 22, 22);
  font-size: 45px;
}